<%- include('layout.ejs'); %>
<%- include('sidebar.ejs'); %>


<div class="container" data-route="<%= locals.path %>">
    <h1 class="main-h1">Welcome <span><%= user.name %></span></h1>
    <section id="main-dd-window">
        <h2>Drag & Drop a File here...</h2>
    </section>
</div>

</body>

</html>