<%- include('layout.ejs'); %>

<div class="container">
    <h1 class="main-h1">Welcome to <span>FILO</span></h1>
    <div class="main-links">
        <a href="/register" class="link-hover">
            <div><i class='bx bx-user-plus'></i></i> Register</div>
        </a>
        <a href="/login" class="link-hover">
            <div><i class='bx bx-user'></i></i> Login</div>
        </a>
    </div>
</div>