<%- include('layout.ejs'); %>


<section>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" action="/login">
        <h3 class="py-3 text-secondary"><%= locals.path.slice(1).toUpperCase() %></h3>

        <label for="email">Your Email</label>
        <input type="text" name="email" id="email" placeholder="Enter your Email">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your Password">

        <button type="submit">Login</button>
        <div class="social">
            <div class="go"><i class='bx bxl-google'></i> Google</div>
            <a href="/register">
                <div class="fb"><i class='bx bx-user-plus'></i></i> Register</div>
            </a>
        </div>
    </form>
</section>

</body>
</html>