<%- include('layout.ejs'); %>


<section>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" action="/register">
        <h3 class="py-3 text-secondary"><%= locals.path.slice(1).toUpperCase() %></h3>

        <label for="name">Your Name</label>
        <input type="text" name="name" id="name" placeholder="Enter your Name">

        <label for="email">Your Email</label>
        <input type="text" name="email" id="email" placeholder="Enter your Email">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your Password">

        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm" id="confirm" placeholder="Confirm your Password">

        <button type="submit">Register</button>

        <div class="social">
            <div class="go"><i class='bx bxl-google'></i> Google</div>
            <a href="/login">
                <div class="fb"><i class='bx bx-user'></i></i> Login</div>
            </a>
        </div>
    </form>
</section>

</body>
</html>